a:link{
    color:blue;
    text-decoration: none;
}
a:visited{
    color:blue
}
a:hover{
    color:green
}
a:active{
    color:red
}
nav{
    background-color:aquamarine ;
    text-align: center;
    
}
h1{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 32px;
}
img{
    height: 300px;
    width: 200px;
}
#giatien{
    background-color:red ;
    color:white;
    font-size:37px;
    line-height:50px
}
#sale{
    font-size:20px
}
body{
    background: white;
}
ul{
    float:right
}
a{
    font-size: 30px;
}
.mua{
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    background:rgb(231, 28, 28);
    border-radius: 50px;
    transition-duration: 0.7s;
}
.mua:hover{
    background: orangered;
}
.tragop{
    border-radius: 50px ;
    border: solid red;
    color:red;
    background: white;
    padding: 15px 32px;
    transition-duration: 0.7s;
}
.tragop:hover{
    background: red;
    color:white
}
header{
    background: skyblue;
}