body{
    background: white;
}
a:link{
    color:blue
}
a:visited{
    color:blue
}
a:hover{
    color:green
}
a:active{
    color:red
}
nav{
    background-color:aquamarine;
    text-align: center;
}
a{
    font-size: 30px;
}
header{
    background: skyblue;
}